.mapTest
{
    background-color:#FFF;
    margin: 10px 0 50px 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
}

.mapTest .label
{
    fill: #777;
}

.mapTest .contenedorTodo
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    width:1000px;
}

.mapTest .contenedorCI
{
    margin-bottom:50px;

}

.mapTest .zonaFecha
{
    height: 40px;
    background-color: #FFF;
    padding-top:5px;
    padding-right: 30px;
}

.mapTest .zonaFecha .play
{
    float:left;
    cursor:pointer;
}

.mapTest .zonaFecha .slider
{
    float:left;
    min-width: 710px;
    margin-top:15px;
    margin-left:20px;
    margin-right:20px;
    background-color: #eee;
}

.mapTest .zonaFecha .fechaText
{
    margin-top:5px;
    font-size:20px;
}


.mapTest .zonaChart
{
    float:left;
    background-color: #FFF;
}

.mapTest .zonaInfo
{
    float:left;
    font-size:14px;
    padding-left:20px;
    background-color: #FFF;
    width:150px;
}

.mapTest .footer
{
    margin-bottom:50px;
    min-height: 50px;
    background-color: #FFF;
    clear:both;
}

.mapTest .zonaFecha .ui-slider-horizontal {
    height: .15em;
    cursor: pointer;
}

.mapTest .zonaFecha .ui-widget-content {
    border: 0px solid #AAA;
    background-color: #CCC;
}

.mapTest .zonaFecha .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mapTest .zonaFecha .ui-slider .ui-slider-handle
{
    cursor:pointer;
    width: 0.5em;
    height: 0.5em;
    margin-left:0px;
    margin-top:2.5px;
}
.ui-widget :focus { outline: none; }

.mapTest .opciones{
    font-size:12px;
}

.mapTest .geoPath
{
    stroke-width:1px;
    stroke: #FFF;
    stroke-opacity:1.0;
    cursor:pointer;
    shape-rendering: crisp-edges;
}

.mapTest .geoPathOn
{
    stroke-width:1.0px;
    stroke: #777;
    stroke-opacity: 1.0;
    cursor:pointer;

}

.mapTest .newsHeader{
    font-size:16px;
}
.mapTest .newsContent{
    font-size:12px;
    min-height: 120px;
    padding: 5px 5px 5px 5px;
}

.mapTest .activeEvent
{
    background-color: #FFFFA5;
    font-weight: bold;
}

.mapTest .opcionesContent{
    font-size:12px;
    margin-top:10px;
}

.mapTest .opcionesHeader{
    font-size:16px;
    margin-top:10px;
}

.mapTest .mapInfoContent
{
    font-size:12px;
    margin-top:10px;
    min-height: 80px;
}

.mapTest .mapInfoHeader
{
    margin-top:10px;
    margin-bottom:10px;
    font-size:16px;
}

.mapTest a
{
    color: #777;
}

.mapTest .smallLegend
{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    /*fill: #777;*/
}

.mapTest .bigLegend
{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    /*fill: #777;*/
}

.mapTest .bigLegendColor
{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    /*fill: #777;*/
}

.mapTest .legendSquareTexts
{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

.mapTest .arcos
{
    fill: none;
    stroke-opacity: 0.4;
}

.mapTest .rectLegend
{
    /*fill:#FFFFA5;*/
    fill: #FFF;
    fill-opacity:0.9;
    stroke-width:0.5px;
    stroke: #000;
    stroke-opacity: 0.5;

}

.mapTest .rectLegendColor
{
    /*fill:#FFFFA5;*/
    fill: #FFF;
    fill-opacity:0.9;
    stroke-width:0.5px;
    stroke: #000;
    stroke-opacity: 0.5;

}


.mapTest .mapaSVG
{
    max-height:480px;
}

.mapTest .nodosDestino
{
    stroke: #000;
    stroke-width: 1px;
    fill: #BBB;
    opacity:0.8;
    cursor:pointer;
}

.mapTest .nodosOrigen
{
    stroke: #000;
    stroke-width: 1px;
    fill: #777;
    opacity:0.8;
    cursor:pointer;
}