@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Bree Serif', serif;
    }
}

.container-fluid {
    height: 100%;
}

.current,
.passed,
.coming {
}

.current {}
.coming {}
.passed {}


.countdown-container {
    height: 100%;
}

.date-block {
    span {
        display: block;
        font-family: 'Open sans', sans-serif;
        font-weight: 300;
    }
}

.uppercase {
    text-transform: uppercase;
}

.light {
    font-weight: 300;
}

.project-title {
    // position: absolute;
    display: block;
    font-size: 24px;
}

.clock-container {
    text-align: center;
}

$projectcolor1: #996600;
$projectcolor2: #9900CC;
$projectcolor3: #999999;
$projectcolor4: #FF66CC;
$projectcolor5: #9966FF;
$projectcolor6: #009966;
$projectcolor7: #666666;
// Heatmap values
.q1 {
    fill: lighten($projectcolor1, 20%);
    background-color: lighten($projectcolor1, 20%);
}

.q1-text {
    color: lighten($projectcolor1, 20%);
}

.q2 {
    fill: lighten($projectcolor2, 20%);
    background-color: lighten($projectcolor2, 20%);
}

.q2-text {
    color: lighten($projectcolor2, 20%);
}

.q3 {
    fill: lighten($projectcolor3, 20%);
    background-color: lighten($projectcolor3, 20%);
}

.q3-text {
    color: lighten($projectcolor3, 20%);
}

.q4 {
    fill: lighten($projectcolor4, 20%);
    background-color: lighten($projectcolor4, 20%);
}

.q4-text {
    color: lighten($projectcolor4, 20%);
}

.q5 {
    fill: lighten($projectcolor5, 20%);
    background-color: lighten($projectcolor5, 20%);
}

.q5-text {
    color: lighten($projectcolor5, 20%);
}

.q6 {
    fill: lighten($projectcolor6, 20%);
    background-color: lighten($projectcolor6, 20%);
}

.q6-text {
    color: lighten($projectcolor6, 20%);
}

.q7 {
    fill: lighten($projectcolor7, 20%);
    background-color: lighten($projectcolor7, 20%);
}

.q7-text {
    color: lighten($projectcolor7, 20%);
}

.RdYlGn .q0-11 {
    &.lighten {
        fill: lighten(rgb(165, 0, 38), 20%);
    }
    background-color:rgb(165, 0, 38)
}

.RdYlGn .q1-11 {
    &.lighten {
        fill: rgb(215, 48, 39)
    }
    background-color: lighten(rgb(215, 48, 39), 10%);
}

.RdYlGn .q2-11 {
    &.lighten {
        fill: lighten(rgb(244, 109, 67), 20%);
    }
    background-color:rgb(244, 109, 67)
}

.RdYlGn .q3-11 {
    background-color: rgb(253, 174, 97);
    &.lighten {
        fill: lighten(rgb(253, 174, 97), 20%);
    }
}

.RdYlGn .q4-11 {
    &.lighten {
        fill: lighten(rgb(254, 224, 139), 20%);
    }
    background-color:rgb(254, 224, 139)
}

.RdYlGn .q5-11 {
    &.lighten {
        fill: lighten(rgb(255, 255, 191), 20%);
    }
    background-color:rgb(255, 255, 191);
}

.RdYlGn .q6-11 {
    &.lighten {
        fill: lighten(rgb(217, 239, 139), 20%);
    }
    background-color:rgb(217, 239, 139)
}

.RdYlGn .q7-11 {
    &.lighten {
        fill: lighten(rgb(166, 217, 106), 20%);
    }
    background-color:rgb(166, 217, 106)
}

.RdYlGn .q8-11 {
    &.lighten {
        fill: lighten(rgb(102, 189, 99), 20%);
    }
    background-color:rgb(102, 189, 99)
}

.RdYlGn .q9-11 {
    &.lighten {
        fill: lighten(rgb(26, 152, 80), 20%);
    }
    background-color:rgb(26, 152, 80);
}

.RdYlGn .q10-11 {
    &.lighten {
        fill: lighten(rgb(0, 104, 55), 20%);
    }
    background-color:rgb(0, 104, 55);
}