/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,
html {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Bree Serif', serif; }

.container-fluid {
  height: 100%; }

.countdown-container {
  height: 100%; }

.date-block span {
  display: block;
  font-family: 'Open sans', sans-serif;
  font-weight: 300; }

.uppercase {
  text-transform: uppercase; }

.light {
  font-weight: 300; }

.project-title {
  display: block;
  font-size: 24px; }

.clock-container {
  text-align: center; }

.q1 {
  fill: #ffaa00;
  background-color: #ffaa00; }

.q1-text {
  color: #ffaa00; }

.q2 {
  fill: #cc33ff;
  background-color: #cc33ff; }

.q2-text {
  color: #cc33ff; }

.q3 {
  fill: #cccccc;
  background-color: #cccccc; }

.q3-text {
  color: #cccccc; }

.q4 {
  fill: #ffccee;
  background-color: #ffccee; }

.q4-text {
  color: #ffccee; }

.q5 {
  fill: #ddccff;
  background-color: #ddccff; }

.q5-text {
  color: #ddccff; }

.q6 {
  fill: #00ffaa;
  background-color: #00ffaa; }

.q6-text {
  color: #00ffaa; }

.q7 {
  fill: #999999;
  background-color: #999999; }

.q7-text {
  color: #999999; }

.RdYlGn .q0-11 {
  background-color: #a50026; }
  .RdYlGn .q0-11.lighten {
    fill: #ff0c44; }

.RdYlGn .q1-11 {
  background-color: #e05951; }
  .RdYlGn .q1-11.lighten {
    fill: #d73027; }

.RdYlGn .q2-11 {
  background-color: #f46d43; }
  .RdYlGn .q2-11.lighten {
    fill: #fab8a3; }

.RdYlGn .q3-11 {
  background-color: #fdae61; }
  .RdYlGn .q3-11.lighten {
    fill: #fee2c6; }

.RdYlGn .q4-11 {
  background-color: #fee08b; }
  .RdYlGn .q4-11.lighten {
    fill: #fffbf0; }

.RdYlGn .q5-11 {
  background-color: #ffffbf; }
  .RdYlGn .q5-11.lighten {
    fill: white; }

.RdYlGn .q6-11 {
  background-color: #d9ef8b; }
  .RdYlGn .q6-11.lighten {
    fill: #f6fbe5; }

.RdYlGn .q7-11 {
  background-color: #a6d96a; }
  .RdYlGn .q7-11.lighten {
    fill: #d7eebb; }

.RdYlGn .q8-11 {
  background-color: #66bd63; }
  .RdYlGn .q8-11.lighten {
    fill: #acdbab; }

.RdYlGn .q9-11 {
  background-color: #1a9850; }
  .RdYlGn .q9-11.lighten {
    fill: #3bdd80; }

.RdYlGn .q10-11 {
  background-color: #006837; }
  .RdYlGn .q10-11.lighten {
    fill: #00ce6d; }

/*# sourceMappingURL=main.css.map */
